main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	pointer-events: none;
}

#photo-viewer {
	position: relative;
	width: 815px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
	transform: translateX(-50%) translateY(-50%);
	z-index: 10;
	pointer-events: auto;
}
.foo:before {
	content:'';
	position: absolute;
	top: 0
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: red;
}
input {
	display: none;
}
/* viewer */
figure {
	position: absolute;
	top: 30px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 815px;
	height: 543px;
	z-index: 1;
}
.for-next {
	transform: translateX(100%);
}
.for-prev {
	transform: translateX(-100%);
}

.thumb-slider input[type=radio]:checked + figure {
	transform: translateX(0);
	transition: transform 500ms;
	z-index: 10;
}
.thumb-slider input[type=radio]:not(:active) + figure {
	transition: transform 500ms;
}
.thumb-slider input[type=radio]:active + .for-next {
	transform: translateX(-100%);
}
.thumb-slider input[type=radio]:active + .for-prev {
	transform: translateX(100%);
}

.prev-btn,
.next-btn {
	position: absolute;
    top: 50%;
    color: #fff;
    font-size: 30px;
    display: none;
    z-index: 20;
	cursor: pointer;
}

.prev-btn {
	left: 12px;
}

.prev-btn:before,
.next-btn:before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	border: 0 solid #fff;
}

.prev-btn:before {
	border-top-width: 4px;
	border-left-width: 4px;
	transform: rotate(-45deg);
	box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.3)
}

.next-btn {
	right: 12px;
}

.next-btn:before {
	border-top-width: 4px;
	border-right-width: 4px;
	transform: rotate(45deg);
	box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.3)
}

.thumb-slider input[type=radio]:checked + figure + input + figure + .thumb + .prev-btn,
.thumb-slider input[type=radio]:checked + figure + input + figure + .thumb + .prev-btn + .next-btn,
.thumb-slider input[type=radio]:checked + figure + .thumb + .prev-btn,
.thumb-slider input[type=radio]:checked + figure + .thumb + .prev-btn + .next-btn {
	display: block;
}
.thumb-slider input[type=radio]:checked + figure + input + figure + .thumb,
.thumb-slider input[type=radio]:checked + figure + .thumb {
	opacity: 0.5;
}

.thumb {
	width: 144px;
	height: 88px;
	background-size: cover;
	float:left;
	cursor: pointer;
	margin-right: 4px;
}
.thumb-slider figure:last-of-type + .thumb {
	margin-right: 0;
}

.thumbnails {
	width: 815px;
	overflow: scroll;
	margin: 578px 0 0;
	-webkit-overflow-scrolling: touch;
	display: none;
	border: 6px solid #fff;
	border-top-width: 0;
	box-sizing: border-box;
}
.thumb-slider {
	white-space: nowrap;
	overflow: hidden;
}
.all-view .thumb-slider {
	width: 2068px;
}
.exterior-view .thumb-slider {
	width: 1484px;
}
.image01 + figure,
.image01-prev + figure,
.thumb[for='image01'],
.thumb[for='image01-ex'] {
	background-image: url(images/image01.jpg);
}
.image02 + figure,
.image02-prev + figure,
.thumb[for='image02'],
.thumb[for='image02-ex'] {
	background-image: url(images/image02.jpg);
}
.image03 + figure,
.image03-prev + figure,
.thumb[for='image03'] ,
.thumb[for='image03-ex']{
	background-image: url(images/image03.jpg);
}
.image04 + figure,
.image04-prev + figure,
.thumb[for='image04'],
.thumb[for='image04-ex'] {
	background-image: url(images/image04.jpg);
}
.image05 + figure,
.image05-prev + figure,
.thumb[for='image05'],
.thumb[for='image05-ex'] {
	background-image: url(images/image05.jpg);
}
.image06 + figure,
.image06-prev + figure,
.thumb[for='image06'],
.thumb[for='image06-ex'] {
	background-image: url(images/image06.jpg);
}
.image07 + figure,
.image07-prev + figure,
.thumb[for='image07'],
.thumb[for='image07-ex'] {
	background-image: url(images/image07.jpg);
}
.image08 + figure,
.image08-prev + figure,
.thumb[for='image08'],
.thumb[for='image08-ex'] {
	background-image: url(images/image08.jpg);
}
.image09 + figure,
.image09-prev + figure,
.thumb[for='image09'],
.thumb[for='image09-ex'] {
	background-image: url(images/image09.jpg);
}
.image10 + figure,
.image10-prev + figure,
.thumb[for='image10'],
.thumb[for='image10-ex'] {
	background-image: url(images/image10.jpg);
}
.image11 + figure,
.image11-prev + figure,
.thumb[for='image11'],
.thumb[for='image11-int'] {
	background-image: url(images/image11.jpg);
}
.image11 + figure,
.image11-prev + figure,
.thumb[for='image11'],
.thumb[for='image11-int'] {
	background-image: url(images/image11.jpg);
}
.image12 + figure,
.image12-prev + figure,
.thumb[for='image12'],
.thumb[for='image12-int'] {
	background-image: url(images/image12.jpg);
}
.image13 + figure,
.image13-prev + figure,
.thumb[for='image13'],
.thumb[for='image13-int'] {
	background-image: url(images/image13.jpg);
}
.image14 + figure,
.image14-prev + figure,
.thumb[for='image14'],
.thumb[for='image14-int'] {
	background-image: url(images/image14.jpg);
}

/* main spawning*/
#input-modal-spawn:checked ~ main,
#input-modal-spawn:checked ~ .overlay {
	display: block;
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}

/* viewer tab */
.input-tab-toggle:checked + label + .thumbnails {
	display: block;
}

.input-tab-toggle:checked + label {
	color: #007ee5;
	text-decoration: underline;
}

.input-tab-toggle:checked  ~ .close-btn { display: block; }

.viewer-tab {
	position: absolute;
	top: 0;
	color: #555;
	font-size: 14px;
	line-height: 28px;
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	width: 100px;
	padding: 0 20px;
}
.viewer-tab:first-of-type {
	left: 0;
}
.viewer-tab:nth-of-type(2) {
	left: 100px;
}
.viewer-tab:nth-of-type(3) {
	left: 200px;
}
.view-all-btn,
.close-btn {
	color: #555;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer
}

.view-all-btn {
	display: block;
	width: 500px;
	height: 600px;
	background-image: url(images/landing-image.png);
	background-size: contain;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap
}

.close-btn {
	display: none;
	position: absolute;
    top: 0;
    right: 10px;
    line-height: 28px;
    font-size: 14px;
}
